
.react-flow__node{
    background: #494B65 !important ;
    color: white !important;
    border: 2px solid #1a192b!important ;
    display: flex !important;
    justify-content: flex-start !important;
    padding: 0 !important;
    border-radius: 3px !important;
    width: 150px !important;
    font-size: 12px !important;  
}

.react-flow__edge-textbg {
    fill: transparent !important;
}

.react-flow__node-default .react-flow__handle,.react-flow__handle{
    background:#494B65  !important;
    height: 10px !important;
    border: none !important;
}


img{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

svg g{
    opacity: 0.5 !important;
}

